ftfy
ipywidgets
accelerate
fastcore
scikit-learn
modelscope
diffusers
git+https://github.com/cloneofsimo/lora.git
git+https://github.com/microsoft/LoRA
transformers
einops
decord
tqdm
safetensors
omegaconf
opencv-python
pydantic
compel
